@font-face {
  font-family: "Trade Gothic Bold Condensed";
  src: url("../fonts/TradeGothicLTPro-BdCn20.otf") format("opentype");
}
@font-face {
  font-family: "Lato Black";
  src: url("../fonts/Lato-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Lato Light";
  src: url("../fonts/Lato-Light.ttf") format("truetype");
}
