.burger-menu-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  transition: transform 1s ease;
  z-index: 100;
  width: 240px;

  &.hidden {
    transform: translateX(300px);
  }

  &.show {
    transform: translateX(0px);
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    padding-left: 35px;

    img {
      margin-bottom: 36px;
      align-self: flex-end;
      // padding-right: 36px;
      padding-right: 16px;
    }

    a {
      font-size: 24px;
      line-height: 16px;
      font-family: "Trade Gothic Bold Condensed";
      margin-bottom: 24px;
      text-transform: uppercase;

      &:first-of-type {
        // display: flex;
        // align-items: center;
        position: relative;
        img {
          position: absolute;
          top: -4px;
          right: -35px;
          width: 10px;
          height: 10px;
          // align-self: flex-start;
          margin: 0px;
          // margin-top: -5px;
        }
      }
    }
  }
}
