@import "./fonts.scss";
@import "./variables.scss";

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;

  @media screen and (max-width: $tablet) {
    padding: 16px 0px;
  }

  p {
    margin: 0px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    font-family: "Trade Gothic Bold Condensed";
    margin-left: 15px;
    cursor: default;
    color: rgba(255, 255, 255, 1);
    transition: color 0.1s ease;
    align-self: flex-end; //to account for baseline offset of font

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }

    @media screen and (max-width: $tablet) {
      margin-bottom: -5px;
    }
  }

  .icons {
    // pointer-events: none;

    display: flex;
    align-items: center;
    * {
      padding: 0px 12px;
      color: white;
      // pointer-events: auto;
    }

    p {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.16px;
      align-self: center;
    }

    path {
      transition: all 0.3s ease;
    }

    &:hover > #courageous-container {
      pointer-events: none;

      #courageous {
        pointer-events: auto;

        path {
          fill: rgba(255, 255, 255, 0.3);
        }
      }
      #courageous:hover {
        path {
          fill: rgba(255, 255, 255, 1);
        }
      }
    }

    &:hover > #insta-container {
      pointer-events: none;

      #insta {
        pointer-events: auto;

        path {
          fill: rgba(255, 255, 255, 0.3);
        }
      }
      #insta:hover {
        path {
          fill: rgba(255, 255, 255, 1);
        }
      }
    }
    &:hover > #vimeo-container {
      pointer-events: none;

      #vimeo {
        pointer-events: auto;

        path {
          fill: rgba(255, 255, 255, 0.3);
        }
      }
      #vimeo:hover {
        path {
          fill: rgba(255, 255, 255, 1);
        }
      }
    }
    &:hover > #linkedin-container {
      pointer-events: none;

      #linkedin {
        pointer-events: auto;

        path {
          fill: rgba(255, 255, 255, 0.3);
        }
      }
      #linkedin:hover {
        path {
          fill: rgba(255, 255, 255, 1);
        }
      }
    }

    #insta {
      width: 26px;
      height: auto;
    }

    #courageous {
      margin-top: 1px;
      width: 28px;
      height: 28px;
    }

    // #courageous,
    // #vimeo,
    // #insta,
    // #linkedin {
    //   path {
    //     fill: rgba(255, 255, 255, 0.6);
    //   }

    //   &:hover {
    //     path {
    //       fill: rgba(255, 255, 255, 1);
    //     }
    //   }

    //   &:active {
    //     path {
    //       fill: #1b1b1b;
    //     }
    //   }
    // }

    // #courageous-container:hover ~ * {
    //   path {
    //     fill: rgba(255, 255, 255, 0.3);
    //   }
    // }
    // #insta-container:hover + #courageous-container {
    //   path {
    //     fill: rgba(255, 255, 255, 0.3);
    //   }
    // }

    .desktop {
      display: inline;
      @media screen and (max-width: $tablet) {
        display: none;
      }
    }

    .mobile {
      display: none;
      @media screen and (max-width: $tablet) {
        display: block;
      }
    }
  }
}

// #courageous,
// #vimeo,
// #insta,
// #linkedin {
//   path {
//     fill: rgba(255, 255, 255, 0.6);
//   }

//   &:hover {
//     path {
//       fill: rgba(255, 255, 255, 1);
//     }
//   }

//   &:active {
//     path {
//       fill: #1b1b1b;
//     }
//   }
// }

// #courageous-container:hover {
//   #courageous {
//     path {
//       fill: rgba(255, 255, 255, 1);
//     }
//   }
// }
// #insta-container:hover {
//   #insta {
//     path {
//       fill: rgba(255, 255, 255, 1);
//     }
//   }
// }
// #vimeo-container:hover {
//   #vimeo {
//     path {
//       fill: rgba(255, 255, 255, 1);
//     }
//   }
// }
// #linkedin-container:hover {
//   #linkedin {
//     path {
//       fill: rgba(255, 255, 255, 1);
//     }
//   }
// }

// #courageous-container:hover ~ * {
//   * {
//     path {
//       fill: rgba(255, 255, 255, 0.3);
//     }
//   }
// }
