@import "./fonts.scss";
@import "./variables.scss";

.homepage {
  .header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 64px;

    h1 {
      font-family: "Trade Gothic Bold Condensed";
      font-size: 240px;
      color: white;
      letter-spacing: -12.94px;
      line-height: 200px;
      text-transform: uppercase;
      margin: 0px;
      padding: 0px;
      margin-left: 16px;
      margin-top: 20px; //to account for font baseline issue
    }

    p {
      font-family: "Lato Light";
      font-size: 18px;
      color: white;
      letter-spacing: 0.4px;
      line-height: 24px;
      max-width: 718px;
      padding: 0px;
      margin: 0px;
      margin-left: auto;
      text-align: left;
    }
  }

  .grid-container {
    .value-grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .s1 {
        flex: 2;
      }

      .s2,
      .s3 {
        flex: 1;
      }
    }
  }
}
